.sem3-body {
    background-color: #E8DAEF
}
#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 10000;
  padding: 21px;
  background-color: rgba(0, 0, 0, 0.443);
  /* display: none; */
  cursor: pointer;
}

.js .cd-top--fade-out {
  opacity: .5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, .8);
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
}
.sem3-heading {
    padding-top: 10px;
    display: flex;
    font-family: fantasy;
    justify-content: center;
}
.java {
    width: 14vw;
    height: 14vw;
    background-image: url('../../assets/img/java-logo-1.png');
    background-size: cover;
    border-radius: 50%;
}

.dcn {
    width: 14vw;
    height: 14vw;
    background-image: url("../../assets/img/data-communication-icon-black-sign-vector-35192994-removebg-preview.png");
    background-size: cover;
    border-radius: 40%;
}

.de {
    width: 14vw;
    height: 14vw;
    background-image: url("../../assets/img/newde-removebg.png");
    background-size: cover;
    border-radius: 50%;
}

.maths-3 {
    width: 14vw;
    height: 14vw;
    background-image: url("../../assets/img/maths3.jpg");
    background-size: cover;
    border-radius: 50%;
}

.sem3-header 
.background{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
.sem3-heading {
    padding-top: 10px;
    display: flex;
    font-family: fantasy;
    justify-content: center;
  }
.java-popup {
    cursor: pointer;
  }
  
  
  .popup .content {
    display: block;
  }
  
  .popup {
    margin-top: 55px;
    cursor: pointer;
    display: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  
  .popup:target {
    display: block;
    visibility: visible;
  }

  .ppts {
    width: 75%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    /* margin-top: 150px; */
  }
  
  .ppts img {
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  
  }
  .file {
    width: 21%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    /* margin-top: 150px; */
  }
  
  .file img {
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  
  }
  .pr-paper {
    width: 75%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    /* margin-top: 150px; */
  }
  
  .pr-paper img {
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  
  }
  .ass {
    width: 20%;
    margin: 10px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    /* margin-top: 150px; */
  }
  
  .ass img {
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.34);
  
  }