.sem2-body{
    background-color: #FDFEFE
  }

  .main header .sem2-content {
    z-index: 10;
}
.sem2-heading {
  padding-top: 10px;
  display: flex;
  font-family: fantasy;
  justify-content: center;
}
.maths-2 {
  background-size: cover;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
  background-image: url("../../assets/img/CCU.png");
}

.oopc {
  width: 14vw;
  height: 14vw;
  background-image: url("../../assets/img/plus_logo_c_icon_214621.png");
  background-size: cover;
}

.eoe {
  width: 14vw;
  height: 14vw;
  background-image: url("../../assets/img/eoe-letter-logo-design-polygon-260nw-1762574633.jpg");
  background-size: cover;
  border-radius: 50%;
}

.sem2-header 
.background{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}


.popup .content {
  display: block;
}

.popup {
  margin-top: 55px;
  cursor: pointer;
  display: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.popup:target {
  display: block;
  visibility: visible;
}

.ppts {
  width: 75%;
  margin: 10px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
  /* margin-top: 150px; */
}

.ppts img {
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.34);

}

.assi {
  width: 75%;
  margin: 10px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 100px;
  /* margin-top: 150px; */
}


.assi img {
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.34);

}